.share-link > .share-icon {
	color: #fff;
}

.share-link > .share-icon {
	background-color: #105289;
}

.share-link-whatsapp > .share-icon,
.share-link-whatsapp-web > .share-icon {
	background-color: #25d366;
}

.share-link-telegram > .share-icon {
	background-color: #2ca5e0;
}

.share-link-facebook > .share-icon {
	background-color: #1877f2;
}

.share-link-twitter > .share-icon {
	background-color: #1da1f2;
}

.share-link-reddit > .share-icon {
	background-color: #ff4500;
}

.share-link-vk > .share-icon {
	background-color: #4680c2;
}

.share-link-tumblr > .share-icon {
	background-color: #36465d;
}

.share-link-evernote > .share-icon {
	background-color: #00a82d;
}

.share-link-pocket > .share-icon {
	background-color: #ef3f56;
}

.share-link-digg > .share-icon {
	background-color: #000;
}

.share-link-diigo > .share-icon {
	background-color: #3f98e5;
}

.share-link-linkedin > .share-icon {
	background-color: #0077b5;
}

.share-link-skype > .share-icon {
	background-color: #00aff0;
}

.share-link-pinterest > .share-icon {
	background-color: #bd081c;
}
