.share-list {
	font-size: 15px;
	text-align: right;
}

.share-item {
	margin-right: 5px;
	margin-bottom: 5px;
}

.share-item:last-child {
	margin-right: 0;
}

.share-link > .share-icon {
	padding: 3px;
	width: 1em;
	height: 1em;
	text-align: center;
	vertical-align: middle;
}

@media (max-width: 700px) {
	.share-list {
		font-size: 20px;
		text-align: center;
	}
}

@media (min-width: 701px) {
	.share-list .share-icon {
		vertical-align: middle !important;
	}
}
