{% include 'overall_header.html' %}
{%- import '@alfredoramos_share/social_icon.html' as share -%}

<h1>{{ lang('ACP_SHARE_SETTINGS') }}</h1>
{{ lang('ACP_SHARE_SETTINGS_EXPLAIN') }}

{% if VALIDATION_ERRORS %}
<div class="errorbox">
	{% for ERROR in VALIDATION_ERRORS %}
	<p>{{ ERROR.MESSAGE }}</p>
	{% endfor %}
</div>
{% endif %}

<div class="warningbox hidden">
	<strong>{{ lang('ACP_SHARE_SETTINGS_WARNING') }}</strong>
</div>

<form id="share_settings" method="POST" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_SHARE_SOCIAL_NETWORKS') }}</legend>
		{% if SHARE_SOCIAL_NETWORKS is not empty %}
		<div class="share-list">
			{% for SOCIAL_NETWORK in SHARE_SOCIAL_NETWORKS %}
			<div class="share-item">
				<label>
					<input type="checkbox" name="share_social_networks[]" value="{{ SOCIAL_NETWORK.KEY|striptags|escape}}"{% if SOCIAL_NETWORK.ENABLED %} checked="checked"{% endif %}>
					<span class="share-link share-link-{{ SOCIAL_NETWORK.KEY|striptags|escape}}" title="{{ lang(SOCIAL_NETWORK.LANG)|striptags|escape }}">
						{{ share.social_icon(SOCIAL_NETWORK.ICON) }}
					</span>
					<span class="share-link-title">{{ lang(SOCIAL_NETWORK.LANG)|striptags|escape }}</span>
				</label>
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</fieldset>

	<table id="share-social-network-list" class="table1 responsive zebra-table share-list share-table">
		<thead>
			<tr>
				<th>{{ lang('SHARE_SOCIAL_NETWORK') }}</th>
				<th>{{ lang('ENABLED') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for SOCIAL_NETWORK in SHARE_SOCIAL_NETWORKS %}
			<tr class="row-highlight">
				<td>
					<label for="share-link-{{ SOCIAL_NETWORK.KEY|striptags|escape}}" class="share-item">
						<span class="share-link share-link-{{ SOCIAL_NETWORK.KEY|striptags|escape}}" title="{{ lang(SOCIAL_NETWORK.LANG)|striptags|escape }}">
							{{ share.social_icon(SOCIAL_NETWORK.ICON) }}
						</span>
						<span class="share-link-title">{{ lang(SOCIAL_NETWORK.LANG)|striptags|escape }}</span>
					</label>
				</td>
				<td class="actions">
					<input type="checkbox" id="share-link-{{ SOCIAL_NETWORK.KEY|striptags|escape}}" name="share_social_networks[]" value="{{ SOCIAL_NETWORK.KEY|striptags|escape}}"{% if SOCIAL_NETWORK.ENABLED %} checked="checked"{% endif %}>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<fieldset>
		<legend>{{ lang('PREVIEW') }}</legend>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input type="reset" class="button2" value="{{ lang('RESET') }}">
			<input type="submit" name="submit" class="button1" value="{{ lang('SUBMIT') }}">
		</p>
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>

{% include 'overall_footer.html' %}
