{% include 'overall_header.html' %}
{%- import '@alfredoramos_share/social_icon.html' as share -%}

<h1>{{ lang('ACP_SHARE_SETTINGS') }}</h1>
<p>{{ lang('ACP_SHARE_SETTINGS_EXPLAIN') }}</p>

{% if VALIDATION_ERRORS %}
<div class="errorbox">
	{% for ERROR in VALIDATION_ERRORS %}
	<p>{{ ERROR.MESSAGE }}</p>
	{% endfor %}
</div>
{% endif %}

<div class="warningbox hidden">
	<strong>{{ lang('ACP_SHARE_SETTINGS_WARNING') }}</strong>
</div>

<form id="share-settings" method="POST" action="{{ U_ACTION }}">
	{% if SHARE_TYPES %}
	<fieldset>
		<legend>{{ lang('SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="share_type">{{ lang('ACP_SHARE_TYPE') }}</label>
				<br><span>{{ lang('ACP_SHARE_TYPE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<select id="share_type" name="share_type">
					{% for TYPE in SHARE_TYPES %}
					<option value="{{ TYPE.KEY }}"{% if TYPE.ENABLED %} selected="selected"{% endif %}>{{ lang(TYPE.NAME) }}</option>
					{% endfor %}
				</select>
			</dd>
		</dl>
	</fieldset>
	{% endif %}

	{% if SHARE_SOCIAL_NETWORKS_ALLOWED %}
	<table id="share-social-network-list" class="table1 responsive zebra-table share-list share-table">
		<thead>
			<tr>
				<th colspan="4">{{ lang('ACP_SHARE_SOCIAL_NETWORKS') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for SOCIAL_NETWORK in SHARE_SOCIAL_NETWORKS_ALLOWED|batch(4, '') %}
			{% if SOCIAL_NETWORK %}
			<tr class="row-highlight">
				{% for NETWORK in SOCIAL_NETWORK %}
				{% if NETWORK %}
				<td>
					<label for="share-link-{{ NETWORK.KEY|striptags|escape('html_attr') }}" class="share-item">
						<input type="checkbox" name="share_social_networks[]" id="share-link-{{ NETWORK.KEY|striptags|escape('html_attr') }}" value="{{ NETWORK.KEY|striptags|escape('html_attr') }}"{% if NETWORK.ENABLED %} checked="checked"{% endif %}>
						<span class="share-link share-link-{{ NETWORK.KEY|striptags|escape('html_attr') }}" title="{{ lang(NETWORK.NAME)|striptags|escape('html_attr') }}">
							{{ share.social_icon(NETWORK.ICON) }}
						</span>
						<span class="share-link-title">{{ lang(NETWORK.NAME)|striptags|escape('html_attr') }}</span>
					</label>
				</td>
				{% endif %}
				{% endfor %}
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
	{% endif %}

	{% if SHARE_SOCIAL_NETWORKS_SORTED %}
	<div class="errorbox notice">
		<p style="font-size: 1em;">{{ lang('ACP_SHARE_PREVIEW_EXPLAIN') }}</p>
	</div>

	<fieldset class="share-preview">
		<legend>{{ lang('PREVIEW') }}</legend>
		{% include '@alfredoramos_share/share_links.html' ignore missing %}
		<input type="hidden" name="share_social_networks_order" value="{{ SHARE_SOCIAL_NETWORKS_SORTED|filter(NETWORK => NETWORK.ENABLED)|map(NETWORK => NETWORK.KEY)|join(',')|striptags|escape('html_attr') }}">
	</fieldset>
	{% endif %}

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input type="reset" class="button2" value="{{ lang('RESET') }}">
			<input type="submit" name="submit" class="button1" value="{{ lang('SUBMIT') }}">
		</p>
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>

{% include 'overall_footer.html' %}
