{%- if share.social_icon is not defined -%}
{%- import '@alfredoramos_share/social_icon.html' as share -%}
{%- endif -%}
{% if SHARE_SOCIAL_NETWORKS_SORTED and share.social_icon is defined %}
{% apply spaceless %}
<div class="share-list" style="text-align: center;">
	{% for SOCIAL_NETWORK in SHARE_SOCIAL_NETWORKS_SORTED %}
	<span data-network="{{ SOCIAL_NETWORK.KEY|striptags|escape('html_attr') }}" class="share-item share-link share-link-{{ SOCIAL_NETWORK.KEY|striptags|escape('html_attr') }}{% if not SOCIAL_NETWORK.ENABLED %} share-item-disabled{% endif %}" title="{{ lang(SOCIAL_NETWORK.NAME)|striptags|escape('html_attr') }}">
		{{ share.social_icon(SOCIAL_NETWORK.ICON) }}
	</span>
	{% endfor %}
</div>
{% endapply %}
{% endif %}
